$section-name: #{$project-prefix}header;

.#{$section-name} {
  display: flex;

  &-menu {
    display: flex;
    flex: 1;
    align-items: center;

    a {
      padding: 0 1rem;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  &-profile {
    .user-dropdown {
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      outline: none;

      img {
        max-width: 1.8rem;
        border-radius: 50%;
      }

      p {
        padding: 0 .5rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}