$section-name: #{$project-prefix}profile;

.#{$section-name} {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .text-center {
    padding: 20rem 0;
  }
}