NODE_ENV="YOUR_ENV"
DEFAULT_PREFIX="+"
PREFIX="s!"
INVITE_LINK="YOUR_BOT_INVITE_LINK"
TOKEN="YOUR_BOT_TOKEN"
CLIENT_ID="BOT_CLIENT_ID"
CLIENT_SECRET="BOT_CLIENT_SECRET"
CALLBACK_URL="BOT_OAUTH2_CALLBACK"
OWNER_ID="BOT_OWNER_CLIENT_ID"
DEFAULT_CHANNEL="DEFAULT_CHANNEL_ID"
API_FTN="Get your key here https://fortnitetracker.com/site-api"
API_WTT="Get your key here https://openweathermap.org/current"
CSE_ID="Create a custom Search Engine and get your ID here https://cse.google.com/cse"
API_GI="Get your key here https://console.developers.google.com/"
API_YT="Get your key here https://console.developers.google.com/"
DB_NAME="YOUR_DB_NAME"
DB_USERNAME="YOUR_DB_USER"
DB_PW="YOUR_DB_PASSWORD"
DB_HOST="YOUR_DB_HOST"
SERVER_INVITE="BOT_SERVER_INVITE"
COOKIE_KEY="DATABASE_COOKIE_KEY"
G_TAG="GOOGLE_TAG_KEY"
DEFAULT_PFP="DEFAULT_PROFILE_PICTURE_LINK"
HTTP_HOST="http://localhost:3000"