.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .5rem;
  font-family: $main-font;
  border: 3px solid;
  
  &-primary {
    @extend .btn;
    color: $white;
    background-color: $main;
    border-color: $main;

    &:hover {
      background-color: $secundary;
      border-color: $secundary;
    }
  }

  &-secundary {
    @extend .btn;
    color: $light-gray;
    background-color: $black;
    border-color: $black;
  }

  &-sl {
    padding: .2rem .8rem;
    font-size: .75rem;
    font-weight: $regular;
    line-height: 1rem;
    border-radius: .3rem;
    transition: all 350ms;

    &:hover {
      cursor: pointer;
    }
  }

  &-lg {
    padding: .5rem 1.6rem;
    font-weight: $sbold;
    font-size: 1rem;
    line-height: 1.3rem;
    border-radius: .6rem;
    transition: all 250ms;
    
    &:hover {
      cursor: pointer;
      transform: translateY(-0.3rem);
    }
  }

  img {
    padding-right: .7rem;
  }

}