.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 1.6rem;
  margin: 0 .5rem;
  font-family: $main-font;
  font-weight: $sbold;
  font-size: 1rem;
  line-height: 1.3rem;
  border-radius: .6rem;
  transition: all 250ms;
  border: 3px solid;
  
  &-primary {
    @extend .btn;
    color: $white;
    background-color: $main;
    border-color: $main;
  }

  &-secundary {
    @extend .btn;
    color: $light-gray;
    background-color: transparent;
    border-color: $light-gray;
  }

  img {
    padding-right: .7rem;
  }

  &:hover {
    transform: translateY(-0.3rem);
  }
}