$project-prefix: shinobu-;

// Fonts
$main-font: 'Open Sans', sans-serif;
$light: 300;
$regular: 400;
$sbold: 700;
$bold: 800;

// Colors
$main: #d49100;
$black: #000;
$white: #fff;

// Responsive
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 620px;