$project-prefix: shinobu-;

// Fonts
$main-font: 'Montserrat', sans-serif;
$light: 300;
$regular: 400;
$sbold: 700;
$bold: 800;

// Colors
$main: #d49100;
$secundary: #d42700;
$green: #5dba49;
$dark-green: #008a05;
$dark: #24252a;
$darker: #18191c;
$black: #000;
$white: #fff;
$light-gray: #839bad;

// Responsive
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 620px;