$section-name: #{$project-prefix}header;

.#{$section-name} {
  display: flex;

  &-menu {
    display: flex;
    flex: 1;
    align-items: center;

    a {
      padding: 0 1rem;

      &:first-child {
        padding-left: 0;
      }

      @include screenXs {
        display: none;

        &:first-of-type {
          display: inline;
          flex: 1;
          text-align: left;
        }
      }
    }
  }

  &-profile {
    .user-dropdown {
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      outline: none;

      &-container {
        position: relative;
      }

      &-menu {
        display: flex;
        position: absolute;
        padding: .5rem 1rem;
        top: 150%;
        right: 0;
        flex-direction: column;
        border-radius: 5%;
        background-color: $darker;
        border: .5rem solid $darker;
        visibility: hidden;
        transition: ease all 100ms;
        transform: scale(.9) translate(.5rem, -.5rem);
        opacity: 0;
        z-index: 99;

        .logout {
          color: $secundary;
        }

        a {
          flex: 1;
          padding: .5rem;
          margin-bottom: .5rem;
          color: $light-gray;
          transition: ease all 200ms;
          border-radius: 5%;
          white-space: nowrap;

          &:hover {
            background-color: $dark;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &.active {
          transform: none;
          opacity: 1;
          visibility: visible;
        }
      }

      img {
        max-width: 1.8rem;
        border-radius: 50%;
      }

      p {
        padding: 0 .5rem;
      }

      .arrow-down {
        width: .5rem;
        transition: all 75ms;

        &.active {
          transform: rotate(-180deg);
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}